html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

svg.cartesian {
  overflow: visible;
}

#unit {
  width: 1cm;
  height: 1cm;
}

.grid {
  stroke-width: .5mm;
  stroke: #ddd;
}

.point {
  stroke-width: .6mm;
  stroke: #FF006B;
  fill: white;
}

.hit-area {
  fill: transparent;
  stroke: none;
}

.interactive {
  transition: .3s ease-out;
}

.dragging .interactive {
  transition: none;
}

.interactive.point circle {
  stroke-dasharray: 6.25mm, 0;
  transition: .3s ease-out;
}

.interactive.point.dragged circle {
  fill: transparent;
  stroke-width: 0.3mm;
  stroke-dasharray: 1.57mm, 1.57mm;
  -webkit-transform: scale(10);
}

.axis {
  stroke-width: .5mm;
  stroke: #00DBFF;
}

.dragging {
  transition: none;
}

.line {
  stroke-width: .5mm;
  stroke: #FF006B;
}

#m circle {
  fill: white;
  stroke: none;
}

.sub {
  font-size: 4mm;
  alignment-baseline: mathematical;
}

.point-data {
  font-size: 4mm;
}

.no-touch {
  pointer-events: none;
}

.math {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s;
  text-shadow: 0 0 2mm white,
               0 0 2mm white,
               0 0 2mm white,
               0 0 2mm white,
               0 0 2mm white;
}

.fn {
  padding-left: 0.5cm;
  display: inline;
  font-size: 1cm;
  font-weight: bold;
}

.coordinates {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6mm;
  text-align: right;
}

.coordinates p {
  position: absolute;
  margin-top: -1.2em;
}

.coordinates p:not(.dragged) {
  transition: .3s ease-out;
}

.x, .y {
  display: block;
  line-height: 1.2em;
  transition: .3s ease-out;
  text-shadow: 0 0 2mm white,
               0 0 2mm white,
               0 0 2mm white,
               0 0 2mm white,
               0 0 2mm white;
  -webkit-transform: translate(-1.5cm, 0);
}

.dragged .x,
.dragged .y {
  -webkit-transform: translate(-4cm, 0);
}